
*{
    margin: 0;
    padding: 0;
    
}
body{
   
    background: rgb(166,166,166);
    background: radial-gradient(circle, rgba(166,166,166,1) 0%, rgba(142,142,142,1) 100%);
    
    
}






#lists{
    text-decoration: none;
    background-image: url(../page/space.jpg);
    padding-top: 1em;
    padding-bottom: 1em;
    text-indent: 3em;
    min-height: auto;
    margin: auto;
  width: 100vw;
   
   
    
 
 
 
    
  
   
}

#lists li{
    display: inline;
    text-decoration: none; 
   
    padding-right: 3em;
    padding-bottom: 2em;
    min-width: 200px;
 
  
  
  
    
    
}

li a{
    text-decoration: none;
    color: white;
}

#line{
   
   font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2012vw;
    min-width: 500px;
    font-weight: bold;


}

#li-text{
    font-size: 0.9000vw;
       width: 10vw;
    min-width: 500px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
 
    
}

#search{
/* float: right; */
display:inline-block;
padding:0.3em 1.2em;
margin:0 0.1em 0.1em 0;
border:0.16em solid rgba(255,255,255,0);
border-radius:2em;
box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-weight:300;
color:#FFFFFF;
text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
text-align:center;
transition: all 0.2s;

 

}

#search:hover{
     border-color: rgba(255,255,255,1);
}

#first-paragraph{
    border: 1px solid white;
    border-radius: 8px;
    background-color: white;
    margin: 0 auto;
  
    margin-top: 3em;
    width: 1494.41px;
    height: 140.83px;
    /* display: inline-block; */
    text-align: center;
    align-items: center;
    justify-content: center;
   position: relative;
    /* left:12%; */
   
    /* vertical-align: center; */
    
    
    
}

#first-box{
            /* display: inline-block; */
     align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 2em;
    
   
}


#main-image{
    background-image: url(../page/background.jpg);
      background-position: center right;
    min-height: auto;
    margin-bottom: 30px;
    text-align: center;  
    padding-top: 10em;
    padding-bottom: 10em;   
    width: 1494.41px;
    height: 140.83px;
    margin: 0 auto;
   vertical-align: center;
   /* right: 12%; */
   max-width: 100%;
   
 
   
  

     
  
      
 
      
     
}

#container h3{    
    color: black;
    font-size: 50px;
    line-height: 1.6em;
    padding-top: 30px;
  
   
}


#left{
    float: left;
    width: 40%;
    text-align: center;
}

#right{
    float: right;
    width: 60%;
    text-align: center;

}

#main-image h2{
    float: right;
    width: 60%;
    font-size: 3rem;
    text-decoration: none;
    position: relative;
    top: -5rem;
    
    
}
#mockupLink{
    
    color: black;
   
}

a:link{
    text-decoration: none;
    color: black;
   
}
a:visited{
    text-decoration: none;
 
}
#main-image span{
    
       float: right;
       box-sizing: border-box;
       font-size: 1.2rem;
       width: 800px;
    
    word-wrap: break-word;
    overflow: hidden;
    position: relative;
    top: -4rem;
    
  
    
}

#box-container{
    position: relative;
    border-image: linear-gradient(#f6b73c, #4d9f0c) 50;
    border-style: solid;
    border-width: 6px;
    background-color: black;
    color: white;
    width: 250px;
    height: 395.2px;
    
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    float: left;
    
    
   


}

#mini-card-grid{
    width: 300px;
    height: 350px;
    position: relative;
   padding: 1.5rem;
    border-radius: 16px;
    background: linear-gradient(85deg,#434343,#262626);
    color: #fff;
    display: flex;
    flex-direction: column;
    transition: .2s;
    margin: 0;
    box-sizing: border-box;
    float: right;
}


@media(max-width: 1500px){
    #first-paragraph{
        width: 100%;
        float: none;
    }
    #lists{
        width: 100%;
        float: none;
    }


 

}

@media(max-width:250px){
    #box-container{
        width: 100%;
       
    }
}


@media all and(max-width:30em){
    #search{
        display: block;
        margin: 0.2em auto;
    }
}
